---
layout: base
nav: home
---

<section class="dark-section with-transition">

    <div class="hero">
        <figure class="hero-image">
			<img src="/assets/img/hero.jpg" />
		</figure>
        <div class="hero-text">
            <div class="heading-block">
                <h1>Digital Ideas
                  <span class="mobile-break"></span>
                  <span class="plus-sign">+</span>
                  Brands</h1>
                <h3>brought to life beautifully.</h3>
            </div>
        </div>
    </div>

    <div class="content">

        <h2 id="introduction">Hi, I'm Dave. I am a <b>digital creative</b> devoted to bringing <b>apps, businesses, and brands</b> to life on the web with clarity, beauty, and purpose.</h2>

        <figure class="image large left" id="workBundle">
          <img src="/assets/img/work/bundle.png" />
        </figure>

        <p><span class="lead">In the beginning,</span> your ideas are fragile. The journey from concept to reality is a lengthy one, and the waters inevitably uncertain. It's easy for things to come out wrong, or not come out at all.</p>

        <p>So, bridges must be built between dreaming and doing. The heart of a creative idea must be carefully excavated, then funneled into a clear and actionable plan. Technical hurdles must be sized up, sorted through, and handled. Then, through these strange, funny, mundane-seeming little tasks, you watch the stuff in your head flower into stuff in the world.</p>

        <p>These are the jobs I live for.</p>

        <div class="button-block left">
            <a class="button large" href="/work/">Work Stories &rarr;</a>
        </div>

    </div>
    <div class="content center">
      <h1>Latest<span class="dot">&nbsp;</span>Posts</h1>
    </div>

</section>

<section class="light-section transitional-content">
    <div class="content">

    {% if site.posts.size > 0 %}
    <div class="post-list">
    {% for post in site.posts %}

        <article class="post {% if forloop.first %}feature{% endif %}">
            <div class="post-image">
                <a href="{{ post.url | relative_url }}">
                    <img src="{{ post.image_url }}" />
                </a>
                <div class="post-category">{{ post.category }}</div>
            </div>
            <div class="post-content">
                <div class="post-meta">{{ post.date | date: "%B %-d, %Y" }}</div>
                <h2 class="post-title">
                    <a href="{{ post.url | relative_url }}">
                        {{ post.title | escape }}
                    </a>
                </h2>
                <p class="post-excerpt">{{ post.excerpt }}...</p>
            </div>
        </article>

        {% unless forloop.last %}
        <div class="post-divider">&nbsp;</div>
        {% endunless %}

    {% endfor %}
    </div>
    {% endif %}

    </div>
</section>
