<footer class="dark-section" id="{{ page.nav }}Footer">

		{% include palette_bar.html %}

		<div class="content">

			<div class="grid footer-actions">

				<div class="hello-form grid-item">

					{% if page.nav == 'contact' %}
					<!-- <h3>Start a conversation.</h3> -->
					{% else %}
					<h3>Hi. Have an idea, <span class="mobile-break tablet"></span> project, or problem? <br />I love those things. Let me help.</h3>
					{% endif %}

					<form name="contact" class="contact" action="." method="get">
			  		<div class="field text" id="email_field">
			  			<input type="email" name="email" placeholder="Your Email Address" />
			        <span class="status-text">This field is required.</span>
			  		</div>
			  		<div class="field text" id="name_field">
			  			<input type="text" name="name" placeholder="Your Name" />
			        <span class="status-text">This field is required.</span>
			  		</div>
			  		<div class="field textarea" id="message_field">
			  			<textarea name="message" placeholder="How can we help?"></textarea>
			        <span class="status-text">This field is required.</span>
			  		</div>
			      <div class="button-block right">
			        <div class="status-text form-status">This is the status of the whole form. We should make sure it works for multiple lines.</div>

			        <button type="submit" class="button" data-success-text="Message Sent!">
			          <span class="loading">Sending...</span>
			          <span class="with-icon not-loading">Send Message {% include icons/right_arrow.svg %}</span>
			        </button>
			      </div>
			  	</form>

				</div>

				<div class="social grid-item">
					<a class="social-item github" target="_blank"
					   href="https://github.com/middletond"><i class="fa fa-github"></i></a>
					<a class="social-item linkedin" target="_blank"
					   href="https://www.linkedin.com/in/dave-middleton-92010957/"><i class="fa fa-linkedin"></i></a>
					<a class="social-item medium" target="_blank"
					   href="https://medium.com/@_davemiddleton"><i class="fa fa-medium"></i></a>
					<a class="social-item instagram" target="_blank"
					   href="http://instagram.com/_davemiddleton"><i class="fa fa-instagram"></i></a>
				</div>

			</div>
		</div>

		<div class="outro">

			<nav class="footer primary" id="footerNav">
				<ul>
					<li><a href="/" class="nav-item {% if page.nav == 'home' %}selected{% endif %}">Home</a></li>
					<li><a href="/posts/" class="nav-item {% if page.nav == 'posts' %}selected{% endif %}">Posts</a></li>
					<li><a href="/work/" class="nav-item {% if page.nav == 'work' %}selected{% endif %}">Work</a></li>
					<li><a href="/vitals/" class="nav-item {% if page.nav == 'vitals' %}selected{% endif %}">Vitals</a></li>
					<li><a href="https://github.com/middletond?tab=repositories" target="_blank" class="nav-item">Code</a></li>
					<li><a href="/contact/" class="nav-item {% if page.nav == 'contact' %}selected{% endif %}">Contact</a></li>
				</ul>
			</nav>

		</div>

	<!-- credits here -->
</footer>
