<footer class="dark-section" id="{{ page.nav }}Footer">
	{% unless page.nofooter %}

		{% include palette_bar.html %}

		<div class="content">

			<div class="grid footer-actions">

				<div class="hello-form grid-item">
					<h3>Hi. Have an idea, <span class="mobile-break tablet"></span> project, or problem? <br />I love those things. Let me help.</h3>

					<form name="hello" class="hello" action="." method="get">
						<div class="field text">
							<input type="email" name="email" id="email_field" placeholder="Email Address" />
						</div>
						<div class="field text">
							<input type="text" name="name" id="name_field" placeholder="Name" />
						</div>
						<div class="field textarea">
							<textarea name="message" id="message_field" placeholder="Type a message"></textarea>
						</div>
						<div class="button-block right">
							<input class="button" type="submit" value="Send Message &rarr;" />
						</div>
					</form>
				</div>

				<div class="social grid-item">
					<a class="social-item github" target="_blank"
					   href="https://github.com/middletond"><i class="fa fa-github"></i></a>
					<a class="social-item linkedin" target="_blank"
					   href="https://www.linkedin.com/in/dave-middleton-92010957/"><i class="fa fa-linkedin"></i></a>
					<a class="social-item medium" target="_blank"
					   href="https://medium.com/@_davemiddleton"><i class="fa fa-medium"></i></a>
					<a class="social-item instagram" target="_blank"
					   href="http://instagram.com/_davemiddleton"><i class="fa fa-instagram"></i></a>
				</div>

			</div>
		</div>

		<div class="outro">

			<nav class="footer primary" id="footerNav">
				<ul>
					<li><a href="/" class="nav-item {% if page.nav == 'home' %}selected{% endif %}">Home</a></li>
					<li><a href="/posts/" class="nav-item {% if page.nav == 'posts' %}selected{% endif %}">Posts</a></li>
					<li><a href="/vitals/" class="nav-item {% if page.nav == 'vitals' %}selected{% endif %}">Vitals</a></li>

					<li><a href="/work/" class="nav-item {% if page.nav == 'work' %}selected{% endif %}">Work</a></li>
					<li><a href="https://github.com/middletond?tab=repositories" target="_blank" class="nav-item">Code</a></li>
					<li><a href="/contact/" class="nav-item">Contact</a></li>
				</ul>
			</nav>

		</div>

	{% endunless %}

	<!-- credits here -->
</footer>
