<header>
	{%- include palette_bar.html -%}
	<div class="mobile-nav-toggle">
		<div class="icon">
			<div class="line medium">&nbsp;</div>
			<div class="line long">&nbsp;</div>
			<div class="line short">&nbsp;</div>
		</div>
	</div>
	<nav class="primary" id="primaryNav">
		<ul>
			<li><a href="/contact/" class="nav-item emphasized">Contact Me</a></li>
			<li><a href="/posts/" class="nav-item {% if page.nav == 'posts' %}selected{% endif %}">Posts</a></li>

			<li><a href="/work/" class="nav-item {% if page.nav == 'work' %}selected{% endif %}">Work</a></li>
			<li><a href="/vitals/" class="nav-item {% if page.nav == 'vitals' %}selected{% endif %}">Vitals</a></li>
		</ul>
	</nav>
	<div class="logo">
		<a href="/">dmco</a>
	</div>
</header>
<!-- Put mobile nav outside header so header can appear on top of it. -->
<nav class="mobile" id="mobileNav">
	<ul>
		<li><a href="/" class="nav-item {% if page.nav == 'home' %}selected{% endif %}">Home</a></li>
		<li><a href="/posts/" class="nav-item {% if page.nav == 'posts' %}selected{% endif %}">Posts</a></li>
		<li><a href="/work/" class="nav-item {% if page.nav == 'work' %}selected{% endif %}">Work</a></li>
		<li><a href="/vitals/" class="nav-item {% if page.nav == 'vitals' %}selected{% endif %}">Vitals</a></li>
		<li><a href="/contact/" class="nav-item {% if page.nav == 'contact' %}selected{% endif %} emphasized">Contact Me</a></li>
	</ul>
</nav>
