html, body {
	margin: 0;
	padding: 0;
	background-color: $cream;
	color: $black;
	font-family: "Montserrat";
	line-height: 1.9em;
    letter-spacing: 0.01em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    word-wrap: break-word;
}

a {
	text-decoration: none;
	outline: none;
	color: $black;
}

h1, h2, h3, h4 { // heading styles depend on section so in sections.scss
	text-transform: uppercase;
	letter-spacing: 0.05em;
	line-height: 110%;
}
h4 {
	font-size: 25px;
	font-weight: 600;
	line-height: 140%;
	letter-spacing: 0.01em;
}
p {
	font-family: "Merriweather", serif;
	font-size: 19px;
	line-height: 190%;
	font-weight: 300;
	&.big {
		font-size: 25px;
		font-weight: 300;
		text-align: justify;
	}
	.lead {
		font-family: "Source Code Pro", monospace, sans-serif;
		font-weight: 700;
		font-size: 25px;
		text-transform: uppercase;
	}
}

.shown { display: block !important; }
.hidden { display: none !important; }