// COLORS

$cream: #FBFBF7;
$magenta: #FF2D77;
$sand: #EAC5A4;
$steelblue: #457B9D;
$navy: #112643; //#1D3557;

$blue: #4092C6;
$rust: #E7964D;
$cornflower: #A0DAFE;
$gold: #F3C926;

$black: #303030;
$white: #FFFFFF;
