// COLORS

$cream: #FBFBF7;
$magenta: #FF2D77;
$hypermagenta: #ff0c72;
$sand: #EAC5A4;
$steelblue: #457B9D;
$navy: #112643; //#1D3557; 
$navylit: #1d3557;

$blue: #4092C6;
$rust: #E7964D;
$cornflower: #9fd9fd;
$gold: #F3C926;

$black: #303030;
$white: #FFFFFF;
