// COLORS

$cream: #FBFBF7;
$magenta: #FF2D77;
$hypermagenta: #ff006c;
$sand: #EAC5A4;
$sandlight: #fae5d2;
$sandhyperlight: #f4e8de;
$steelblue: #457B9D;
$steelbluedark: #2D517A;
$navy: #112643;
$navylit: #265276;

$blue: #4092C6;
$darkblue: #2b5c91;
$rust: #E7964D;
$cornflower: #9fd9fd;
$gold: #F3C926;

$black: #303030;
$white: #FFFFFF;

$lime: #B5EAB1;

$orange: #EA9226;
$orangelight: #E6A726;
$brown: #9c500c;

$projectcream: #FAF4ED;
$projectblue: rgba(44,80,120,0.4);
