// FOOTER STYLES

footer.dark-section { // styles are similar to dark sections, saving some typing
	background: $navylit !important;
	position: relative;
	&:before {
		content: "";
		width: 397px;
		height: 446px;
		position: absolute;
		top: 20px;
		right: -10px;
		background-image: url("../img/paint.png");
		background-repeat: no-repeat;
	}
	.content {
		padding: 60px 0px;
		h2 {
			max-width: 1000px;
			margin: 20px 0px;
		}
		.button {
			margin: 30px 0px;
		}
	}
} 