// FOOTER STYLES

footer.dark-section { // styles are similar to dark sections, saving some typing
	background: $navy !important;
	position: relative;
	z-index: 0;
	overflow: visible; // for paint platter
	&:before { // paint spatter
		content: "";
		width: 279px;
		height: 446px;
		position: absolute;
		top: -72px;
		right: 0px;
		background-image: url("../img/paint.png");
		background-repeat: no-repeat;
		@include below($break-large) { content: none; top: 10px; }
	}
	.palette-bar { // make navy segment stand out from dark bg
		@include below($break-large) {
			.segment.fifth { background-color: lighten($navy, 8); }
		}
	}
	.content {
		padding: 60px 0px;
		@include below($break-small) { padding: 30px 0px 60px 0px; }
		h2 {
			max-width: 1000px;
			margin-top: 20px;
			margin-bottom: 20px;
			// hide the paint spatter behind the h2 just a bit
			background: linear-gradient(90deg, rgba(17,38,67,1.0) 0%,
																				 rgba(17,38,67,0.4) 80%,
																				 rgba(17,38,67,0.0) 100%);
			@include below($break-xx-large) {
				max-width: 900px;
				text-shadow: 0px 0px 6px rgba(0,0,0,0.3);
			}
		}
		h3 {
			border: none;
			margin: 0 !important; // override H3 mobile content styles
			padding: 0;
			width: auto;
			font-size: 25px;
			font-weight: 600;
			line-height: 140%;
			letter-spacing: 0.01em;
			&:before { content: none; }
			&:after { content: none; }
			@include below($break-small) { font-size: 23px; }
			@include below($break-tiny) { font-size: 21px; }
		}
		.button {
			margin-top: 30px;
			margin-bottom: 30px;
			@include below($break-small) {
				margin-top: 55px;
				margin-bottom: 55px;
			}
		}
	}
	.footer-actions {
		margin-top: 30px;
		.hello-form {
			width: 100%;
			max-width: 650px;
			h4 { margin-top: 0px; } // no margins on top / bottom elems so we can align w .social
			form { margin-bottom: 0px; }

		}
		.social {
			@include above($break-medium) {
				@include flex_direction(column);
				width: 68px;
				margin: 0 0 0 100px;
				text-align: center;
				padding: 35px 0px;
				position: relative;
				top: 2px; // nudge this to appear more aligned w .hello-form
				&:before {	// center vertical line
					content: "";
					position: absolute;
					z-index: 0;
					top: 0px;
					left: 33px;
					width: 2px;
					height: 100%;
				}
				.social-item {
						margin: 0;
				}
			}

			// .social-item {
			// 	display: block;
			// 	position: relative;
			// 	z-index: 1;
			// 	margin: 0;
			// 	width: 64px;
			// 	height: 64px;
			// 	border: $blue solid 2px;
			// 	border-radius: 50%;
			// 	background-color: $steelbluedark;
			// 	i.fa { // icons
			// 		font-size: 28px;
			// 		color: $blue;
			// 		position: relative; // use flex?
			// 		top: 18px;
			// 		&.fa-linkedin { font-size: 25px; } // outlier, fkn shit up
			// 	}
			// }
		}
	}
}
