// Forms / Fields

form {
  margin: 30px 0px;
  @include below($break-small) { margin: 20px 0px; }
  .field {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    @include below($break-small) {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
  .button-block {
    margin: 0px 0px;
    position: relative;
    z-index: 10;
    .button {
      width: 200px;
			margin-top: 30px;
			margin-bottom: 30px;
			@include below($break-small) {
				margin-top: 55px;
				margin-bottom: 55px;
			}
    }
  }
  .status-text { // for fields and form
    position: absolute;
    @include flex_center_all();
    top: -25px;
    left: -10px;
    width: auto;
    min-width: 100px;
    min-height: 0;
    padding: 6px 10px;
    box-sizing: border-box;
    background-color: $blue;
    border: $blue solid 1px;
    box-shadow: 1px 1px 15px rgba(0,0,0,0.8);
    border-radius: 3px;
    font-weight: 400;
    font-family: "Source Code Pro", monospace;
    font-size: 14px;
    color: white;
    letter-spacing: -0.06em;
    line-height: 140%;
    text-align: center;
    transition: all 0.3s ease-in-out;
    z-index: 2;
    opacity: 0;
    a {
      display: inline;
      color: black;
      text-decoration: underline;
      font-weight: 500;
    }
    &.show {
      opacity: 1;
    }
    &:after { // the pointy part of tag
      content: "";
      background-color: $blue;
      position: absolute;
      width: 8px;
      height: 8px;
      left: 15px;
      bottom: -5px;
      z-index: -1;
      border: $blue solid 1px;
      border-left: none;
      border-top: none;
      transform: rotate(45deg);
    }
    &.form-status { // form only
      top: auto;
      bottom: 110px;
      left: auto;
      right: -20px;
      width: 66%;
      min-height: 80px;
      padding: 20px 20px;
      font-size: 19px;
      &.show {
        top: auto;
        opacity: 1;
      }
      &:after {
        left: 80%;
        width: 12px;
        height: 12px;
        bottom: -7px;
      }
    }
  }
}
// Form loading
form {
  opacity: 1;
  .button {
    .loading { display: none; }
    .not-loading { display: inline-block; }
  }
  transition: 0.5s;
}
form.loading {
  opacity: 0.5;
  .button {
    .loading { display: inline-block; }
    .not-loading { display: none; }
  }
}

// Base styles
input, textarea, select {
    margin: 0;
    background: transparent;
    font-family: "Source Code Pro", monospace, sans-serif;
    letter-spacing: 0.0em;
    text-transform: normal;
    color: $white;
    outline: none;
}
input, textarea, select {
    font-size: 21px;
    width: 100%;
    @include below($break-small) { font-size: 19px; }
}
input {
    display: block;
    border: none;
    border-bottom: $magenta 2px solid;
    &:not([type="submit"]) { padding: 20px 0px 16px 0px; }
}
input[type="submit"] {
  @include below($break-medium) {
    width: 100% !important;
  }
}
textarea {
    background: transparent;
    border: $magenta 2px solid;
    border-radius: 1px;
    color: white;
    padding: 20px;
    margin: 55px 0px 0px;
    outline: none;
    width: calc(100% - 42px);
    height: 150px;
    @include below($break-small) { margin-bottom: 0px; }
}
input, textarea {
    transition: 0.5s;
     // Placeholder text
    &::-webkit-input-placeholder { @include placeholder(); } // Chrome/Opera/Safari
    &::-moz-placeholder { @include placeholder(); } // Firefox 19+
    &:-ms-input-placeholder { @include placeholder(); } // IE 10+
    &:-moz-placeholder { @include placeholder(); } // Firefox 18-
}
label {
    color: $white;
    text-transform: uppercase;
}

// Select Fields
select {
    background-color: transparent;
    width: 100%;
    padding: 10px 12px;
    font-size: 21px;
    color: $white;
    border: 3px solid $magenta;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    &:focus { // remove browser focus
        outline: none
    }
    &:after { // custom down arrow
        position: absolute;
        top: 0.75em;
        right: 0.5em;
        width: 0;
        height: 0;
        padding: 0;
        content: '';
        border-left: .25em solid transparent;
        border-right: .25em solid transparent;
        border-top: .375em solid $white;
        pointer-events: none;
    }
}


// Make sure iOS doesn't add it's own form styles
textarea,
input.text,
input[type="text"],
input[type="email"],
input[type="button"],
input[type="submit"],
.input-checkbox {
    -webkit-appearance: none;
}
