// HEADER STYLES

header {
	width: 100%;
	height: $header-height-large;
	top: $palette-bar-height;
	left: 0;
	background-color: $cream;
	box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.7);
	@include below($break-small) { height: $header-height-small; }
	.palette-bar {
		position: absolute;
		top: -$palette-bar-height;
		width: 100%;
	}
	nav {
		width: 70%;
	}
	.logo {
		@include flex_display();
		@include flex_justify_content(flex-end); // right
		@include flex_align_items(center);
		width: 140px;
		height: inherit;
		position: absolute;
		top: 0;
		right: 30px;
		@include below($break-tiny) {
			right: 15px;
			// width: 100%;
			// right: 0;
			// @include flex_justify_content(center);
		}
		a {
			display: block;
			margin: 0;
			color: $black;
			font-family: "Montserrat", sans-serif;
			font-weight: 900;
			font-size: 20px;
		}
	}
}
