.hero {
	min-height: 700px;
	margin: 0;
	position: relative;
	overflow: hidden;
	.hero-text {
		@include flex_display();
		// @include flex_justify_content(center);
		@include flex_align_items(center);
		position: absolute;
		top: 0;
		width: 50%;
		height: 100%;
		z-index: 1;
		.heading-block {
			padding-left: 100px;
			// display: inline-block;
			margin-top: 0px;
			border: none;
			h1 {
				font-size: 50px;
			}
			h3, .definitions li {
				font-size: 15px;
				padding: 0px;
				margin: 10px 0px 10px 3px;
				letter-spacing: 0.02em;
			}
			.definitions {
				margin: 0;
				li { margin: 0 0 0 -7px; }
			}
			.meta {
				font-size: 16px;
				margin: 5px 0px 5px 3px;
			}
		}
	}
	.hero-image {
		margin: 0;
		position: relative;
		float: right;
		z-index: 0;
        top: 0;
        right: 0;
        z-index: 0;
        height: 100%;
        min-width: 1200px;
		max-width: 1600px;
        img {
            width: 100%;
            // margin-bottom: -8px; // Hack. Img is adding 4px margin to bottom of container div, can't figureo out why
        }
	}
}
