// NAV STYLES

nav.primary {
	display: block;
	padding: 0;
	margin: 0;
	height: inherit;
	@include below($break-mobile-nav) {
		display: none;
	}
	ul {
		margin: 0;
		padding: 0;
		height: inherit;
		@include flex_display();
		@include flex_justify_content(flex-start);
		li {
			@include flex_display();
      @include flex_align_items(center);
      position: relative;
      list-style: none;
      margin: 0px 40px 0px 20px;
      padding: 0;
      height: inherit;
      top: 0px;
      a.nav-item {
				&:after { content: none }
      	display: block;
      	padding: 12px 15px;
      	line-height: 1em;
      	color: $black;
      	font-size: 14px;
      	font-weight: 600;
            font-family: "Source Code Pro", sans-serif;
      	text-transform: uppercase;
      	border: transparent solid 3px;
				&.selected { font-weight: bold; }
      	&.emphasized {
      		color: $blue;
      		border-color: $blue;
      		font-weight: 700;
					white-space: nowrap;
					min-width: 130px;
					box-sizing: border-box;
					text-align: center;
      	}
      }
		}
	}
}
