// INDIVIDUAL PAGE STYLE ADJUSTMENTS

#helloPage {
	.dark-section {
		padding-top: 20px;
		background: $navy;
		background: linear-gradient(30deg, $navy 0%, $navy 70%, $darkblue 100%);
	}
	h1 {
		color: $cream;
	}
	.social {
		margin-top: 60px;
		margin-bottom: 100px;
	}
	.lantern {
		margin: 0px;
		top: -140px;
		right: 30px;
		width: 336px;
		height: 447px;
		z-index: -1;
		position: absolute;
		background-size: 100%;
		background-image: url("../img/lantern.png");
		background-repeat: no-repeat;
	}
	.paint-spatter {
		top: -92px;
		right: -150px;
		z-index: 1;
	}
}

#homePage {
	.dark-section {
		background: $navy;
	}
	h2#introduction {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.image#workBundle {
		margin-top: 40px;
		margin-bottom: -20px;
		img {
			margin-left: 50px;
			min-width: 800px;
			@include below($break-large) { margin-top: 30px; margin-left: 10px; }
			@include below($break-small) { margin-left: -10px; }
		}
	}
}
