// INDIVIDUAL PAGE STYLE ADJUSTMENTS

#helloPage, #aboutPage {
	.dark-section {
		padding-top: 20px;
		background: $navy;
		background: linear-gradient(30deg, $navy 0%, $navy 70%, $darkblue 100%);
	}
	h1 {
		color: $cream;
	}
	.social {
		margin-top: 60px;
		margin-bottom: 100px;
	}
	.lantern {
		margin: 0px;
		top: -160px;
		right: -10px;
		width: 380px;
		height: 510px;
		z-index: -1;
		position: absolute;
		background-size: 100%;
		background-image: url("../img/lantern.png");
		background-repeat: no-repeat;
		transform: rotate(-8deg); // TODO: update the image itself w rotation
		width: 320px;
		top: -165px;
		right: -155px;
		@include below($break-large) {
			transform: rotate(-8deg);
			top: -125px;
			right: -138px;
			width: 285px;
		}
		@include below($break-medium) {
			top: -135px;
			right: -125px;
			width: 250px;
		}
		@include below($break-small) {
			top: -80px;
			right: -98px;
			width: 175px;
		}
		@include below($break-tiny) {
			top: -60px;
			right: -88px;
			width: 140px;
		}
	}
	.paint-spatter {
		top: -92px;
		right: -150px;
		z-index: -1;
		@include below($break-headers) { top: 0px; }
	}
	h3 { // XXX needs major refactor but just wanna get it running
		@include below($break-xx-large) {
			margin-left: 50px !important;
			margin-right: 50px !important;
		}
		@include below($break-x-large) {
			margin-left: 25px !important;
			margin-right: 25px !important;
		}
	}
	h3, div#contact > *, div#credentials > * {
		@include below($break-headers) {
			max-width: $page-text-width;
			margin-left: 100px !important;
		}
		@include below($break-large) {
			margin-left: 50px !important;
			margin-right: 50px !important;
		}
		@include below($break-medium) {
			margin-left: 30px !important;
			margin-right: 30px !important;
		}
	}
	div#contact {
		@include below($break-headers) {
			background: linear-gradient(90deg, rgba(17,38,67,0.0) 0%,
																				 rgba(17,38,67,0.5) 80%,
																				 rgba(17,38,67,0.0) 100%);
		}
	}
	div#credentials {
		@include below($break-medium) {
			.button-block { margin-bottom: 0px; }
			.button {
				display: block;
				width: initial;
			}
			.social { margin-bottom: 60px; }
		}
		@include below($break-small) {
			.button-block { margin-top: 20px; }
		}
	}
}

#homePage {
	.dark-section {
		background: $navy;
	}
	h2#introduction {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.image#workBundle {
		margin-top: 40px;
		margin-bottom: -20px;
		img {
			margin-left: 50px;
			min-width: 800px;
			@include below($break-large) { margin-top: 30px; margin-left: 10px; }
			@include below($break-small) { margin-left: -10px; }
		}
	}
}

#workPage {
	#workEmojis {
		margin-top: -40px;
		margin-bottom: -15px;
		@include below($break-small) {
			margin-top: -20px;
			margin-bottom: -15px;
		}
	}
	section.transitional-content .content {
		margin-top: -340px;
	}
	@include below($break-small) {
		.content p.big {
			text-align: center !important;
			padding-bottom: 30px;
		}
	}
}
