// INDIVIDUAL PAGE STYLE ADJUSTMENTS

#contactPage {
	.dark-section {
		// padding-top: 20px;
		background: $navy;
		background: linear-gradient(30deg, $navy 0%, $navy 70%, $darkblue 100%);
	}
	h1 {
			color: $cream;
			font-family: "Montserrat", "Source Code Pro", sans-serif;
			font-size: 70px;
			font-weight: 700;
			letter-spacing: -0em;
			line-height: 1.3em;
			text-transform: none;
			text-align: left;
			@include below($break-large) { font-size: 60px;}
			// @include below($break-mobile-nav) { font-size: 35px;}
			@include below($break-medium) { font-size: 54px; }
			@include below($break-small) {
				font-size: 50px;
				margin-top: 40px;
				margin-bottom: 50px;
			}
			@include below($break-tiny) {font-size: 45px;}
	}
	.lantern {
		margin: 0px;
		top: -160px;
		right: -10px;
		width: 380px;
		height: 510px;
		z-index: -1;
		position: absolute;
		background-size: 100%;
		background-image: url("../img/lantern.png");
		background-repeat: no-repeat;
		transform: rotate(-8deg); // TODO: update the image itself w rotation
		width: 320px;
		top: -165px;
		right: -155px;
		@include below($break-large) {
			transform: rotate(-8deg);
			top: -125px;
			right: -138px;
			width: 285px;
		}
		@include below($break-medium) {
			top: -135px;
			right: -125px;
			width: 250px;
		}
		@include below($break-small) {
			top: -80px;
			right: -98px;
			width: 175px;
		}
		@include below($break-tiny) {
			top: -60px;
			right: -88px;
			width: 140px;
		}
	}
	.contact-items {
		margin-top: 50px;
		margin-bottom: 0px;
		.contact-item {
			margin: 10px 0;
			display: block;
			color: lighten($blue, 10);
			font-family: "Source Code Pro", monospace, sans-serif;
	    letter-spacing: 0.0em;
	    text-transform: uppercase;
			font-size: 21px;
			transition: 0.3s;
			&:hover {
				color: lighten($blue, 20);
			}
		}
	}
}

#contactFooter {
	// blend the contact footer with main content above
	margin-top: -100px;
	&:before { background-image: none; }
	.palette-bar { display: none; }
	.content {
		padding-top: 0px;
	}
}

#workPage {
	#workEmojis {
		margin-top: -40px;
		margin-bottom: -15px;
		@include below($break-small) {
			margin-top: -20px;
			margin-bottom: -15px;
		}
		img { max-width: 400px; }
	}
	section.dark-section {
		background: linear-gradient(15deg, $navy 0%, $navy 80%, $darkblue 100%);
		padding-bottom: 0px;
	}
	section.transitional-content .content {
		margin-top: -340px;
	}
	@include below($break-small) {
		.content p.big {
			text-align: center !important;
		}
	}
}
#workFooter, #vitalsFooter {
	margin-top: -40px;
}
