// POST-SPECIFIC STYLES

.posts {
	width: 1050px;
	margin: 30px auto;
}
.post {
	@include flex_display();
	.post-image {
		margin: 52px 0px 30px 0px;
		display: block;
		position: relative;
		width: 250px;
		height: 170px;
		a {
			z-index: 0;
			position: relative;
			display: block;
			width: 100%;
			height: inherit;
			overflow: hidden;
			img {
				width: 100%;
			}
		}
		.post-category {
			z-index: 1;
			position: absolute;
			left: -30px;
			bottom: 30px;
			width: 150px;
			padding: 10px 0px;
			background-color: $magenta;
			font-family: "Source Code Pro", sans-serif;
			font-weight: 700;
			line-height: 1em;
			color: $white;
			text-transform: uppercase;
			text-align: center;
			box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
		}
	}
	.post-content {
		width: 78%;
		padding: 0px 60px;
		.post-meta {
			line-height: 1em;
			margin: 10px 0px 20px 0px;
			font-family: "Source Code Pro", sans-serif;
			font-weight: 500;
			color: $steelblue;
			text-transform: uppercase;
			text-align: left;
			letter-spacing: 0.00em;
		}
		.post-title {
			margin: 20px 0px;
		}
		.post-excerpt {
			line-height: 180%;
			font-size: 18px;
		}
	}
	&.feature {
		display: block;
		text-align: center;
		.post-image {
			margin: 20px 0px 30px 0px;
			display: inline-block;
			width: 870px;
			height: 400px;
			box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.4);
			.post-category {
				display: inline-block;
				position: relative;
				top: -19px;
				left: 0px;
			}
		}
		.post-content {
			width: inherit;
			padding: 0px 10%;
			.post-title {
				margin: 20px auto;
				font-size: 43px;
			}
			.post-meta {
				text-align: center;
			}
			.post-excerpt {
				margin: 20px auto;
				line-height: 180%;
				width: 80%;
			}
		}
	}
}
.post-divider {
	height: 1px;
	width: 100%;
	background-color: $sand;
	margin: 40px 0px;
}