// POST-SPECIFIC STYLES

@mixin fade_in_from_bottom() {
	background: linear-gradient(0deg, rgba(251,251,247,1) 0%,
																		rgba(251,251,247,0.5) 50%,
																		rgba(251,251,247,0) 100%);
}

.post {
	.post-header { // landscape header styles (default)
		position: relative;
		overflow: hidden;
		max-height: $post-header-height-landscape; // controls where header ends and content starts

		// LAYOUT: On larger screens, image dictates .post-header height
		.post-header-image {
			position: relative;
			top: 0px;
			width: 100%;
		}
		.post-header-content {
			position: absolute;
			bottom: 0px;
			left: 0px;
			@include fade_in_from_bottom();
		}
		// LAYOUT: On smaller screens, content dictates .post-header height
		@include below($break-mobile-nav) {
			.post-header-image {
				position: absolute;
				min-width: 400px;
				&:before {
					content: "";
					position: absolute;
					width: 100%;
					height: 100%;
					z-index: 1;
					@include fade_in_from_bottom();
				}
			}
			.post-header-content {
				position: relative;
				top: 0px;
				bottom: initial;
			}
		}
		// DETAILS
		.post-header-image {
			img {
				width: 100%;
				display: block; // remove unintentional padding from line-height
				position: relative;
				z-index: 0;
			}
		}
		.post-header-content {
			padding: 50px 30px 0px 30px;
			box-sizing: border-box;
			width: 100%;
			z-index: 1;
			@include below($break-small) { padding: 5px 0px 0px 0px; }
			// lets us dictate height of absolute .post-header-content
			// by .inner-wrap's child content
			.inner-wrap { position: relative; }
			.post-category {
				width: 180px;
				margin: 30px auto;
				padding: 10px 0px;
				background-color: $magenta;
				font-family: "Source Code Pro", sans-serif;
				font-weight: 700;
				line-height: 1.1em;
				color: $white;
				text-transform: uppercase;
				text-align: center;
				box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
				@include below($break-small) {
					box-sizing: border-box;
					margin: 0px 0px 50px 0px;
					width: 100%;
					box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
				}
			}
			.post-title {
				&:before { content: none } // remove hr divider
				max-width: 900px;
				margin: 25px auto 20px auto;
				font-family: "Montserrat", sans-serif;
				font-weight: 900;
				color: darken($black, 5);
				@include below($break-medium) { font-size: 60px; }
				@include below($break-small) { font-size: 45px; margin: 30px 15px 15px 15px; }
				@include below($break-tiny) { font-size: 40px; margin: 30px 15px 0px 15px;}
			}
			.post-tagline {
				color: $black;
				max-width: 900px;
				margin: 20px auto;
				font-family: "Merriweather", sans-serif;
				font-style: italic;
				font-weight: 300;
				font-size: 24px;
				text-transform: none;
				text-align: center;
				line-height: 170%;
				letter-spacing: 0.01em;
				@include below($break-medium) {
					max-width: 450px;
					line-height: 150%;
					br { display: none; }
				}
				@include below($break-small) { font-size: 20px; margin: 20px 40px; }
				@include below($break-tiny) { font-size: 17px; }
			}
			.post-meta {
				max-width: $post-text-width;
				position: relative;
				line-height: 1em;
				margin: 60px auto 0px auto;
				padding: 0;
				font-family: "Source Code Pro", sans-serif;
				font-weight: 500;
				color: $steelblue;
				text-transform: uppercase;
				text-align: center;
				letter-spacing: 0.00em;
				@include below($break-small) {
					margin: 30px 10px 0px 10px;
					font-size: 15px !important;
				}
				.corner {
					position: absolute;
					width: 50px;
					height: 40px;
					bottom: 0px;
					border-bottom: $steelblue solid 2px;
					&.left {
						left: 0px;
						border-left: $steelblue solid 2px;
					}
					&.right {
						right: 0px;
						border-right: $steelblue solid 2px;
					}
					@include below($break-medium) { display: none; }
				}
			}
		}
		&.portrait { // portrait header styles
			@include flex_display();
			@include flex_justify_content(space-between);
			max-height: $post-header-height-portrait;
			margin-bottom: 40px;
			&:after { // bottom blur border, across whole header but only shows against image
				position: absolute;
				bottom: 0px;
				left: 0px;
				width: 100%;
				height: 3%;
				content: "";
				z-index: 1;
				background: linear-gradient(0deg,
					rgba(251,251,247,1) 0%,
					rgba(251,251,247,0.2) 50%,
					rgba(251,251,247,0) 100%);
				@include below($break-mobile-nav) { content: none; }
			}
			.post-header-image {
				width: 50%;
				&:before { // right blur border
					position: absolute;
					top: 0px;
					right: -1px;
					width: 50%;
					height: 100%;
					content: "";
					z-index: 1;
					background: linear-gradient(270deg,
						rgba(251,251,247,1) 0%,
						rgba(251,251,247,0.2) 50%,
						rgba(251,251,247,0) 100%);
					@include below($break-mobile-nav) { content: none; }
				}
			}
			.post-header-content {
				width: 50%;
				position: relative;
				z-index: 2;
				// padding: 0;
				@include flex_display();
				@include flex_align_items(center);
				.inner-wrap {
					position: static; // allow .post-meta to get pinned outside of .inner-wrap
					margin: 0px 10%;
					@include below($break-mobile-nav) {
						position: relative;
						margin: 0 auto;
					}
					.post-meta {
						@include above($break-mobile-nav) {
							position: absolute;
							width: 80%;
							max-width: none;
							bottom: 5px; // push up slightly to appear aligned w blur border
							margin: 0;
							.corner {
								width: 30px;
								height: 30px;
							}
							@include below($break-x-large) {
								text-align: left;
								.corner { display: none; }
							}

						}
					}
					.post-category {
						margin-left: 3px;
						@include below($break-mobile-nav) { margin-left: auto }
					}
					.post-title, .post-tagline {
						text-align: left;
						@include below($break-mobile-nav) { text-align: center; }
					}
					.post-title {
						@include above($break-mobile-nav) { font-size: 50px; }
						@include above($break-x-large) { font-size: 70px; }
					}
					.post-tagline {
						@include below($break-x-large) { font-size: 22px; }
						@include below($break-large) { font-size: 20px; }
					}
				}
			}
			@include below($break-mobile-nav) {
				display: block;
				.post-header-image,
				.post-header-content {
					width: 100%;
				}
			}
		}
	}
	.post-content {
		margin: 40px 0px 100px 0px;
		& > * { // everything centered and columned unless otherwise specified
			max-width: $post-text-width;
			margin-left: auto;
			margin-right: auto;
			@include below($post-text-width + 50) {
				margin-left: 50px;
				margin-right: 50px;
			}
			@include below($break-medium) {
				margin-left: 30px;
				margin-right: 30px;
			}
			@include below($break-small) {
				margin-left: 20px;
				margin-right: 20px;
			}
		}
		h3 {
			@include above($break-headers) {
				max-width: 100%;
				margin-left: 50px;
				margin-right: 50px;
			}
		}
		img {
			width: 100%;
		}
		p {
			text-align: left;
			font-weight: 400;
			&.big { font-weight: 300; }
		}
	}
}
