// POST-SPECIFIC STYLES

.post {
	.post-header { // landscape header styles (default)
		position: relative;
		overflow: hidden;
		max-height: $post-header-height-landscape; // controls where header ends and content starts
		.post-header-image {
			position: relative;
			top: 0px;
			width: 100%;
			height: 100%;
			img {
				width: 100%;
				display: block; // remove unintentional padding from line-height
				position: relative;
				z-index: 0;
			}
		}
		.post-header-content {
			position: absolute;
			padding-top: 50px;
			bottom: 0px;
			left: 0px;
			width: 100%;
			z-index: 1;
			background: linear-gradient(0deg, rgba(251,251,247,1) 0%, rgba(251,251,247,0.5) 50%, rgba(251,251,247,0) 100%);
			.inner-wrap {
				position: relative;
			}
			.post-category {
				width: 180px;
				margin: 30px auto;
				padding: 10px 0px;
				background-color: $magenta;
				font-family: "Source Code Pro", sans-serif;
				font-weight: 700;
				line-height: 1.1em;
				color: $white;
				text-transform: uppercase;
				text-align: center;
				box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.2);
			}
			.post-title {
				&:before { content: none } // remove hr divider
				max-width: 900px;
				margin: 25px auto 20px auto;
				font-family: "Montserrat", sans-serif;
				font-weight: 900;
			}
			.post-tagline {
				color: $black;
				max-width: 900px;
				margin: 20px auto;
				font-family: "Merriweather", sans-serif;
				font-style: italic;
				font-weight: 300;
				font-size: 24px;
				text-transform: none;
				text-align: center;
				line-height: 170%;
				letter-spacing: 0.01em;
			}
			.post-meta {
				max-width: $post-text-width;
				position: relative;
				line-height: 1em;
				margin: 60px auto 20px auto;
				font-family: "Source Code Pro", sans-serif;
				font-weight: 500;
				color: $steelblue;
				text-transform: uppercase;
				text-align: center;
				letter-spacing: 0.00em;
				.corner {
					position: absolute;
					width: 50px;
					height: 40px;
					bottom: 0px;
					border-bottom: $steelblue solid 2px;
					&.left {
						left: 0px;
						border-left: $steelblue solid 2px;
					}
					&.right {
						right: 0px;
						border-right: $steelblue solid 2px;
					}
				}
			}
		}
		&.portrait { // portrait header styles
			@include flex_display();
			@include flex_justify_content(space-between);
			max-height: $post-header-height-portrait;
			margin-bottom: 40px;
			&:after { // bottom blur border, across whole header but only shows against image
				position: absolute;
				bottom: 0px;
				left: 0px;
				width: 100%;
				height: 3%;
				content: "";
				z-index: 1;
				background: linear-gradient(0deg,
					rgba(251,251,247,1) 0%,
					rgba(251,251,247,0.2) 50%,
					rgba(251,251,247,0) 100%);
			}
			.post-header-image {
				width: 50%;
				&:before { // right blur border
					position: absolute;
					top: 0px;
					right: 0px;
					width: 50%;
					height: 100%;
					content: "";
					z-index: 1;
					background: linear-gradient(270deg,
						rgba(251,251,247,1) 0%,
						rgba(251,251,247,0.2) 50%,
						rgba(251,251,247,0) 100%);
				}
			}
			.post-header-content {
				width: 50%;
				position: relative;
				z-index: 2;
				padding: 0;
				@include flex_display();
				@include flex_align_items(center);
				.inner-wrap {
					position: static; // allow .post-meta to get pinned outside of .inner-wrap
					margin: 0px 10%;
					// background: blue;
					.post-meta {
						position: absolute;
						width: 80%;
						max-width: none;
						bottom: 5px; // push up slightly to appear aligned w blur border
						margin: 0;
						.corner {
							width: 40px;
							height: 40px;
						}
					}
					.post-category {
						margin-left: 3px;
					}
					.post-title, .post-tagline {
						text-align: left;
					}
					.post-title {
						font-size: 70px;
					}
				}

			}
		}
	}
	.post-content {
		margin: 20px 0px 100px 0px;
		& > * { // everything centered and columned unless otherwise specified
			max-width: $post-text-width;
			margin-left: auto;
			margin-right: auto;
			@include below($post-text-width + 50) {
				margin-left: 50px;
				margin-right: 50px;
			}
			@include below($break-medium) {
				margin-left: 30px;
				margin-right: 30px;
			}
			@include below($break-small) {
				margin-left: 20px;
				margin-right: 20px;
			}
		}
		h3 {
			max-width: 100%;
			margin-left: 50px;
			margin-right: 50px;
		}
		img {
			width: 100%;
		}
		p {
			text-align: left;
			font-weight: 400;
			&.big { font-weight: 300; }
		}
	}
}
