// LIGHT + DARK SECTIONS
// Default styles are for light sections. Dark sections cascade from there

// LIGHT
h1 {
	position: relative;
	text-align: center;
	font-size: 82px;
	font-family: "Source Code Pro", sans-serif;
	font-weight: 500;
	letter-spacing: -0.01em;
	margin: 60px 0px;
}
h2 {
	letter-spacing: 0em;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 0;
	max-width: 950px;
	line-height: 120%;
	text-transform: none;
	font-family: "Montserrat", sans-serif;
	font-weight: 800;
	font-size: 36px;
	color: $magenta;
	b {
		font-weight: 800;
		color: $magenta;
	}
	&.center {
		text-align: center;
	}

}
h3 {
	position: relative;
	font-size: 24px;
	font-weight: 600;
	padding-top: 24px;
	margin: 50px 50px -30px 50px;
	&:before { // left portion
		content: "";
		display: block;
		width: 50%;
		height: 12px;
		background-color: $magenta;
		position: absolute;
		top: 0px;
		left: 0px;
	}
	&:after { // center portion
		content: "";
		display: block;
		height: 12px;
		background-color: $cream;
		border-top: $magenta solid 2px;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		top: -50px;
		left: -15px; // make a little shorter on right side
		max-width: $post-text-width; // this should match the text min-width
	}
	&.alt {
		border-color: $blue;
		&:before { background-color: $blue; }
		&:after { border-color: $blue; }
	}
}
h4 {
	color: $sand;
	font-family: "Source Code Pro", sans-serif;
	font-size: 23px;
	font-weight: 600;
	letter-spacing: 0.01em;
	padding: 5px 0px;
}
h5 {
	color: $white;
}
p {
	text-align: justify;
	max-width: 850px;
	font-size: 20px;
	.lead {
		font-size: 23px;
	}
}
blockquote, blockquote p {
	max-width: none !important;
	letter-spacing: 0em;
	line-height: 120%;
	text-align: left;
	text-transform: none;
	font-family: "Montserrat", sans-serif;
	font-weight: 800 !important;
	font-size: 36px !important;
	color: $magenta;
	b {
		color: $magenta;
		font-weight: 800 !important;
	}
	&.alt p {
		color: $orange;
		b { color: $brown; };
	}
}
blockquote {
	margin: 50px auto !important;
	padding: 0 0 0 30px;
	width: $post-text-width + 100px; // minus border + padding widths
	position: relative;
	left: 80px;
	&.pulled { left: -80px }
	border-left: $sandlight solid 30px;
	margin: 40px auto;
	p { margin: 0px !important; }
}
hr, .divider {
	margin: 60px auto 70px auto !important;
	height: 2px;
	width: 70px;
	border: none;
	background-color: lighten($sand, 5);
	display: block;
	line-height: 0em;
}
.divider { // can't get <hr> to accept :after.content
	height: 10px;
	font-size: 65px;
	text-align: center;
	color: $orange;
	background-color: transparent;
	&:after {
		display: block;
		content: "\00B7\00B7\00B7"; // three middots
	}
}

.image {
	position: relative;
	z-index: 1;
	margin: 60px 0px;
	width: 100%;
	text-align: center;
	img, h2, blockquote {
		position: relative;
		z-index: 1;
		display: block;
	}
	img {
		max-width: 100%;
		margin: 0px auto;
	}
	&.decorated {
		padding: 80px 0px 80px 0px;
		margin-bottom: -80px;
		&:before { // .decorated images have vertical center line
			content: "";
			width: 1px;
			height: 100%;
			background-color: $magenta;
			position: absolute;
			top: 0px;
			left: 50%;
			margin-left: 0.5px;
		}
	}
	&.full {
		width: 100%;
		min-width: 1000px;
		img { width: 100%; }
	}
	&.large {
		width: 100%;
		img { max-width: 1400px; }
	}
	&.medium {
		width: 100%;
		img { max-width: 1050px; }
	}
	&.with-bg {
		padding: 40px 0px;
		h2 {
			margin-top: 20px !important;
			margin-bottom: 40px !important;
		}
		&.lime {
			background-color: $lime;
		}
		&.blue {
			background-color: $navylit;
		}
		&.navy {
			background-color: saturate(lighten($navy, 5), 2);
		}
		&.orange {
			background-color: $orange;
		}
		&.white {
			background-color: $white;
			border-top: $sandhyperlight solid 1px;
			border-bottom: $sandhyperlight solid 1px;
			box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.1);
		}
	}
}
.heading-block {
	margin-top: 60px;
	margin-bottom: 60px;
	padding: 0px 40px;
	border-left: $magenta solid 26px;
	h1 {
		&:before { content: none } // no hr above text
		text-align: left;
		line-height: 1em;
		margin: 0px;
	}
	&.plain { // big plain text no fanciness
		border-left: none;
		padding: 0;
		h1 {
			font-size: 116px;
			font-weight: 400;
			line-height: 95%;
			letter-spacing: -0.08em;
		}
	}
	.meta {
		margin: 20px 0px;
		font-family: "Merriweather", serif;
		font-weight: 300;
		font-style: italic;
		font-size: 24px;
		text-transform: lowercase;
		letter-spacing: -0.01em;
		margin-left: 5px; // compensate for font glyphs
	}
	.definitions, h3 {
		font-family: "Source Code Pro", monospace, sans-serif;
		font-weight: 600;
		font-size: 24px;
		text-transform: uppercase;
	}
	.definitions li {
		padding: 5px 0px;
		margin-left: 10px; // compensate for font glyphs
		line-height: 180%;
	}
	h3 {
		&:before { content: none; }
		&:after { content: none; }
		margin: 0px;
	}
}
.content { // default to left content
	position: relative;
	margin: 0px 0px;
	& > * { // default margins to .content children (h12345, div, p, etc) so option exists to bring child to edges
		margin-left: 100px;
		margin-right: 100px;
	}
	.image {
		margin-left: 0px;
		margin-right: 0px;
	}
	&.transitional {
		padding: 0px 0px;
		margin-top: -200px;
	}
	&.center {
		p, h2, h4 {
			margin-left: auto;
			margin-right: auto;
			max-width: $post-text-width;
		}
		h4 {
			margin-top: 50px;
			margin-bottom: 20px;
			// span {
			// 	display: inline-block;
			// 	// padding-bottom: 6px;
			// 	// border-bottom: $darkblue solid 1px;
			// }
		}
		.heading-block {
			position: relative;
			padding: 0px 0px 40px 0px;
			margin-bottom: 80px;
			&:before { // hr line
				display: block;
				content: "";
				background-color: $cream;
				width: 340px;
				height: 1px;
				margin: 40px auto;
			}
			&:after { // hr line
				display: block;
				content: "";
				background-color: $cream;
				width: 340px;
				height: 1px;
				position: absolute;
				bottom: 0px;
				left: 0; // center it
				right: 0;
				margin: auto;
				z-index: 0;
			}
			text-align: center;
			border-left: none;
			h1, h2, h3 {
				text-align: center;
			}
			h3 {
				margin: 0px auto 10px auto;
				font-family: "Merriweather", serif;
				font-weight: 300;
				font-style: italic;
				font-size: 24px;
				text-transform: lowercase;
				letter-spacing: -0.01em;
				margin-left: 5px; // compensate for font glyphs
			}
			.meta {
				display: inline-block;
				position: absolute;
				z-index: 1;
				left: 50%; // center it
				-webkit-transform: translateX(-50%);
				transform: translateX(-50%);
				padding: 10px 30px;
				background-color: $magenta;
				font-family: "Source Code Pro", sans-serif;
				font-weight: 700;
				font-style: normal;
				font-size: 18px;
				line-height: 1.1em;
				color: $white;
				text-transform: uppercase;
				text-align: center;
				box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.2);
			}
		}
	}
	&.center-text {
		p, h2 { text-align: center; }
		h2 {max-width: $post-header-width; }
	}
	&.article {
		p {text-align: left; }
	}
}
section.transitional-content { // starts content between a dark and light section
	position: relative;
	z-index: 2;
	.content {
		margin-top: -380px;
	}
}
section.semi-transitional-content { // starts content immediately after a dark and light section
	position: relative;
	z-index: 2;
	.content {
		margin-top: -180px;
	}
}
.content-block {
	position: relative;
	margin-top: 80px;
	margin-bottom: 80px;
	&.center > div {
		width: 700px;
		margin: 0px auto 0px auto; // ha i didn't realize you could do this
	}
	&.full-width { // allow content to edges
		margin-left: 0px;
		margin-right: 0px;
	}
	h3 {
		margin-left: 0px;
		margin-right: 0px;
	}
}

// DARK
.dark-section {
	position: relative;
	z-index: 2;
	color: $cream;
	background: $navy;
	background: linear-gradient(15deg, $navy 0%, $navy 65%, $darkblue 100%);
	&.hero {
		margin-top: -$header-height-large;
		padding-top: $header-height-large;
		.content {
			margin-top: 0px;
		}
	}
	&.with-transition { // might be able to just have this for all dark sections
		padding-bottom: 50px;
		margin-bottom: 292px; // if we want overlap w the paint border, make this less to taste
		&:after {
			position: absolute;
			left: 0px;
			bottom: -292px;
			content: "";
			background-image: url("../img/navy_paint_border.png");
			background-repeat: no-repeat;
			width: 100%;
			height: 292px;
		}
	}
	.lantern {
		top: -20px;
		right: 5%;
		width: 336px;
		height: 447px;
		position: absolute;
		background-size: 100%;
		background-image: url("../img/lantern.png");
		background-repeat: no-repeat;
	}
	.echinacea {
		top: 0px;
		right: -70px;
		width: 480px;
		height: 956px;
		position: absolute;
		background-size: 100%;
		background-image: url("../img/daisies2.png");
		background-repeat: no-repeat;
	}
	.content {
		a {
			&:after { background-color: $blue; opacity: 0.4; }
			&:hover { color: $blue; }
		}
		h1 {
			color: $cream;
			&:before {
				background-color: $cream;
			}
		}
		h2 {
			margin-top: 70px;
			margin-bottom: 70px;
			color: $blue;
			b {
				font-weight: 800;
				color: $cornflower;
			}
			&.alt {
				b { color: $magenta; }
			}
		}
		h3 {
			&:before { background-color: $magenta; }
			&.alt:before { background-color: $blue; }
			&:after { background-color: $navy; }
		}
		h4 {
			color: $cornflower;
		}
		p {
			font-size: 22px;
			font-weight: 300;
			.lead { font-size: 23px; }
		}
		blockquote, blockquote p {
			b { color: $cream }
		}
		blockquote {
			border-left-color: $navylit;
		}
		hr {
			background-color: darken($steelblue, 12);
		}
		.divider {
			color: darken($steelblue, 12);
		}
		.heading-block {

		}
		.button { // should this go here?
			margin-top: 10px;
		}
	}
}
