---
layout: base
---

<section class="dark-section with-transition">

    <div class="hero">
        <figure class="hero-image">
			<img src="/assets/img/hero.jpg" />
		</figure>
        <div class="hero-text">
            <div class="heading-block">
                <h1>Pro&middot;duce</h1>
                <div class="meta">verb, /prəˈd(y)o͞os/</div>
                <h3>Cause to happen or come into existence.</h3>
            </div>
        </div>
    </div>

    <div class="content">

        <!-- <div class="heading-block">
            <h1>Pro&middot;duce</h1>
            <div class="meta">
                verb, /prəˈd(y)o͞os/
            </div>
            <ol class="definitions">
                <li>Cause to happen or come into existence.</li>
                <li>Make or manufacture from components or raw materials</li>
            </ol>
        </div> -->

        <h2>Hi, I'm Dave. I am a <b>digital producer</b> specializing in bringing <b>unconventional ideas, individuals, and brands</b> to life in the world.</h2>

        <p><span class="lead">A producer is someone</span> who navigates the often uncertain waters inherent in the journey from creative concept to tangible reality. They are the bridge between the technician and the dreamer. They are the gardener patiently watering the sprouting plant. They are the doctor attending to the baby being born.</p>

        <p>Their job is two-fold: to carefully suss out the true heart of a creative idea and transmute it into a clear and actionable plan, and to assess and handle all the technical hurdles manifest in growing the idea into a flourishing reality.</p>

        <div class="button-block left">
            <a class="button small" href="/hello/">Read On</a>
        </div>

    </div>
    <div class="content center">
            <h1>Latest&middot;Posts</h1>
    </div>

</section>

<section class="light-section transitional-content">
    <div class="content">

    {% if site.posts.size > 0 %}
    <div class="post-list">
    {% for post in site.posts %}

        <article class="post {% if forloop.first %}feature{% endif %}">
            <div class="post-image">
                <a href="{{ post.url | relative_url }}">
                    <img src="{{ post.image_url }}" />
                </a>
                <div class="post-category">{{ post.category }}</div>
            </div>
            <div class="post-content">
                <div class="post-meta">{{ post.date | date: "%B %-d, %Y" }}</div>
                <h2 class="post-title">
                    <a href="{{ post.url | relative_url }}">
                        {{ post.title | escape }}
                    </a>
                </h2>
                <p class="post-excerpt">{{ post.excerpt }}...</p>
            </div>
        </article>

        {% unless forloop.last %}
        <div class="post-divider">&nbsp;</div>
        {% endunless %}

    {% endfor %}
    </div>
    {% endif %}

    </div>
</section>
