---
layout: base
---
<article>

  <header>
    <h1>{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
       <span>{{ page.author }}</span>
      {%- endif -%}</p>
  </header>

  <div>
    {{ content }}
  </div>

  <a href="{{ page.url | relative_url }}"></a>
</article>
