---
layout: base
---

<article class="post">
    <div class="post-header {{ page.display }}">
        <div class="post-header-image">
            <img src="{{ page.image_url }}" />
        </div>
        <div class="post-header-content">
            <div class="inner-wrap">
                <div class="post-category">{{ page.category }}</div>
                <h1 class="post-title">{{ page.title | escape }}</h1>
                <h2 class="post-tagline">{{ page.tagline }}</h2>
                <div class="post-meta">
                    <div class="corner left"></div>
                    <div class="corner right"></div>
                    By Dave Middleton. {{ page.date | date: "%B %-d, %Y" }}.
                    {% if page.minutes %}{{ page.minutes }} min read.{% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="content post-content">
    {{ content }}
    </div>
</article>
