---
layout: base
---
<section class="dark-section hero with-transition">
    <div class="content center">

        <div class="heading-block">
            <h1>Latest&middot;Posts</h1>
<!--             <h3>Mostly about reality based on unsubstantiated feelings</h3>
 -->        </div>

    </div>
</section>

<section class="light-section transitional-content">
    <div class="content">
       
        {% if site.posts.size > 0 %}
        <div class="post-list">
        {% for post in site.posts %}
            
            <article class="post {% if forloop.first %}feature{% endif %}">
                <div class="post-image">
                    <a href="{{ post.url | relative_url }}">
                        <img src="{{ post.image_url }}" />
                    </a>
                    <div class="post-category">{{ post.category }}</div>
                </div>
                <div class="post-content">
                    <div class="post-meta">{{ post.date | date: "%B %-d, %Y" }}</div>
                    <h2 class="post-title">
                        <a href="{{ post.url | relative_url }}">
                            {{ post.title | escape }}
                        </a>
                    </h2>
                    <p class="post-excerpt">{{ post.excerpt }}...</p>
                </div>
            </article>

            {% unless forloop.last %}
            <div class="post-divider">&nbsp;</div>
            {% endunless %}

        {% endfor %}
        </div>
        {% endif %}

    </div>
</section>